@import "/src/styles/variables";


.nav-body {
  display: flex;
  flex-direction: column;
  min-width: 264px;
  align-items: flex-start;
  padding: 16px 16px 32px;
}


.icon {
  background-position: center;
  background-repeat: no-repeat;
  padding: 4px 14px;
  width: 14px;
  height: 14px;
}

// .home-icon {
//   background-image: url(../../../../assets/svg/home.svg);
// }
