<div class="form-container">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline" class="py-2">
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="Title" formControlName="title" [readonly]="true" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="py-2">
                    <mat-label>Description</mat-label>
                    <input matInput placeholder="Description" formControlName="description" [readonly]="true" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="py-2">
                    <mat-label>Select Priority</mat-label>
                    <mat-select placeholder="Priority" formControlName="priority">
                        <mat-option *ngFor="let priority of PriorityOptions" [value]="priority.value" [disabled]="true">
                            {{ priority.text }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="py-2">
                    <mat-label>Select Category</mat-label>
                    <mat-select placeholder="Category" formControlName="category">
                        <mat-option *ngFor="let category of CategoryOptions" [value]="category.value" [disabled]="true">
                            <i class="{{ category.icon }}"></i>
                            {{ category.text }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="py-2">
                    <mat-label>Select Status</mat-label>
                    <mat-select placeholder="Status" formControlName="status">
                        <mat-option *ngFor="let status of StatusOptions" [value]="status.value" [disabled]="true">
                            {{ status.text }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="center margin-top">
                    <button type="submit" mat-raised-button color="warn" class="me-2"
                        [disabled]="myForm.invalid">Delete</button>
                    <button type="button" mat-raised-button class="me-2" (click)="onCancel()">
                        Cancel
                    </button>
                </div>

                <!-- <pre>{{ myForm.value | json }}</pre> -->
            </form>
        </div>
    </div>


</div>