@font-face {
  font-family: 'LotussSmartTX_B';
  src: url('../assets/fonts/LotussSmartTX-Bold.woff2') format('woff2'),
  url('../assets/fonts/LotussSmartTX-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LotussSmartTX_L';
  src: url('../assets/fonts/LotussSmartTX-Light.woff2') format('woff2'),
  url('../assets/fonts/LotussSmartTX-Light.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family:'LotussSmartTX';
  src: url('../assets/fonts/LotussSmartTX-Regular.woff2') format('woff2'),
  url('../assets/fonts/LotussSmartTX-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
