@font-face {
  font-family: 'Kanit-Bold';
  src: url('../assets/fonts/Kanit-Bold.ttf') format('ttf'),
  url('../assets/fonts/Kanit-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit-Light';
  src: url('../assets/fonts/Kanit-Light.ttf') format('ttf'),
  url('../assets/fonts/Kanit-Light.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family:'Kanit-Regular';
  src: url('../assets/fonts/Kanit-Regular.ttf') format('ttf'),
  url('../assets/fonts/Kanit-Regular.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
