
._center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.form-container {
  // display: block;
  // max-width: 500px;
  margin: auto;
  background: #eceff1;
  padding: 48px;
  border-radius: 16px;

  mat-form-field {
    width: 100%;
  }
}