<div class="_bg">
    <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">

        <div class="row">
            <div class="col-12 text-center">
                <img src="assets/img/logo.png" class="login-logo" />
            </div>

            <div class="col-12 text-center">
                <h1 class="h3 mb-3 mt-3 fw-normal">
                    Master Data Admin
                </h1>
            </div>

            <div class="text-center">
                <button class="btn btn-primary w-100 py-2 text-white" type="submit" (click)="login()">Sign in</button>
            </div>
        </div>
    </div>
</div>