@import "/src/styles/variables";

.sidenav-container {
  position: relative;
  z-index: 1;
  display: block;
  height: 100vh;
  overflow: auto;
}

.my-font {
  background-color: #3f52b5;
  color: #ffffff;
}