@import "/src/styles/variables";

.nav-link{
    color:map-get($gray ,700 );
    cursor: pointer;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
.nav-link.active{
    background-color: map-get($gray, 75 );
}
  
.nav-link:hover{
    background-color: map-get($gray, 75 );
}